# --- Python ---
_pycache_/
*.pyc
*.pyo
*.pyd

# --- Virtual Environment ---
.venv/
env/
venv/

# --- Environment Variables ---
.env

# --- VS Code settings ---
.vscode/



# --- Logs & temp files ---
*.log
*.tmp

main.py